{% extends 'dashboard_base.html' %}

{% block head %}
<title>Change profile picture</title>
{% endblock %}

{% block body %}
<!-- <br>
<br>
<br> -->
<div class="container marketing" style="padding-top:150px">
  <div class="row">
    <div class="text-center">
      <img src="/static/images/users/{{ pic_name }}" alt="Pig" width="140" height="140" class="rounded-circle">
      <h2>Change profile picture for {{ first_name }}</h2>
      <div class="form-group">
        <form autocomplete="off" action="/dashboard/change_pic" enctype="multipart/form-data" method="POST">
          <!-- {% from '_formhelpers.html' import render_field_photo %} -->
          {{ form.csrf_token() }}
          <label for="formFileLg" class="form-label">{{ form.new_photo.label }}</label>
          <br>
          {{ form.new_photo }}
          <!-- <input class="form-control-file" id="pix_to_upload" name="pix_to_upload" type="file" /> -->
          <br><br>
          {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
          <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button> -->
          {% if form.new_photo.errors %}
          <ul class = errors>
            {% for error in form.new_photo.errors %}
            <li class="text-danger">{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </form>
      </div>
      {% if error %}
      <strong class="text-danger">{{ error }}</strong> {% endif %}

    </div>
  </div>
</div>
{% endblock %}
