{% extends 'dashboard_base.html' %}

{% block head %}
<title>Change password</title>
{% endblock %}

{% block body %}
<!-- <br>
<br>
<br> -->
<div class="container marketing" style="padding-top:150px">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="text-center">
      <img src="/static/images/{{ pic_name }}" alt="Pig" width="140" height="140" class="rounded-circle">
      <h2>Change password for {{ first_name }}</h2>
      {% from '_formhelpers.html' import render_field_black %}
      <form autocomplete="off" action="/dashboard/change_passwd" method="POST">
        <dl>
          {{render_field_black(form.old_password)}}
          {{render_field_black(form.new_password)}}
          {{render_field_black(form.confirm)}}
        </dl>
        <br>
        <p><input type="submit" value="Submit"></p>
      </form>
      {% if error %}
        <strong class="text-danger">{{ error }}</strong> {% endif %}
    </div>
  </div>
  <!-- /.row -->




</div>
<!-- /.container -->

<!-- </main> -->
{% endblock %}
