{% extends 'dashboard_base.html' %}
{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block body %}
<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/images/testt.jpg" alt="Jumping" width="100%" height="100%">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Example headline.</h1>
            <p>Add cover page(1).</p>
            <p><a class="btn btn-lg btn-primary" href="#">Cover 1</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#777" />
        </svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>Example headline.</h1>
            <p>Add cover page(2).</p>
            <p><a class="btn btn-lg btn-primary" href="#">Cover 2</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#777" />
        </svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Example headline.</h1>
            <p>Add cover page(3).</p>
            <p><a class="btn btn-lg btn-primary" href="#">Cover 3</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="text-center">
        <img src="static/images/{{ pic_name }}" alt="Pig" width="140" height="140" class="rounded-circle">
        <br><br>
        <a class="btn btn-primary" href="/dashboard/change_pic" role="button">Change your profile picture</a>
        <br>
        <h2>Welcome back {{ first_name }}</h2>
        <p>Another exciting bit of representative placeholder content</p>
        <p>I'm a piglet.</p>
      </div>
    </div>
    <!-- /.row -->


    <ol>
    <!-- loop start here -->
    {%for i in range(0,3)%}

    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <!-- Book titles + images + books features -->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> {{Booktitles[i]}}</h2>
        <p class="lead">{{Bookauthors[i]}}</p>
        <p> {{Bookdescriptions[i]}}</p>
      </div>
      <div class="col-md-4">
        <a href="#"><img src="static/images/Starting Out withh C++ Early Objects 10th Edition.jpeg" alt="Jumping" width="400" height="500" class="rounded mx-auto d-block"></a>
      </div>
    </div>
    </ol>

    {% comment %} <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Hamlet</h2>
        <p class="lead">William Shakespeare</p>
        <p> One of the greatest plays of all time, the compelling tragedy of the tormented young prince of Denmark continues to capture the imaginations of modern audiences worldwide. Confronted with evidence that his uncle murdered his father,
          and with his mother’s infidelity, Hamlet must find a means of reconciling his longing for oblivion with his duty as avenger. The ghost, Hamlet’s feigned madness, Ophelia’s death and burial, the play within a play, the “closet scene”
          in which Hamlet accuses his mother of complicity in murder, and breathtaking swordplay are just some of the elements that make Hamlet an enduring masterpiece of the theater. </p>
      </div>
      <div class="col-md-5 order-md-1">
        <a href="#"><img src="static/images/Hamlet.jpg" alt="Jumping" width="400" height="500"></a>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Harry Potter and the Sorcerer's Stone</h2>
        <p class="lead">J.K. Rowling</p>
        <p> Harry Potter has no idea how famous he is. That's because he's being raised by his miserable aunt and uncle who are terrified Harry will learn that he's really a wizard, just as his parents were. But everything changes when Harry is
          summoned to attend an infamous school for wizards, and he begins to discover some clues about his illustrious birthright. From the surprising way he is greeted by a lovable giant, to the unique curriculum and colorful faculty at
          his unusual school, Harry finds himself drawn deep inside a mystical world he never knew existed and closer to his own noble destiny. </p>
      </div>
      <div class="col-md-5">
        <a href="#"><img src="static/images/Harry  Potter1.jpg" alt="Jumping" width="400" height="500"></a>
      </div>
    </div>

    <hr class="featurette-divider"> {% endcomment %}

    <!-- /END THE FEATURETTES -->

  </div>
  <!-- /.container -->

</main>
{% endblock %}
