{% extends 'base.html' %}

{% block head %}
<title>Group Project 362</title>
{% endblock %}

{% block body %}
  <!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#header">HOME <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" href="#callMe">ABOUT US</a>
      </li>

      <li class="nav-item">
        <a class="nav-link page-scroll" href="#contact">CONTACT US</a>
      </li>
    </ul>
  </div>
</nav> <!-- end of navbar -->
<!-- end of navbar -->

<!-- Header -->
<header id="header" class="header">
  <div class="header-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-container">
            <h1>GROUP PROJECT 362</h1>
            <p class="p-heading p-large">For new users - Register an account to use this app</p>
            <p class="p-heading p-large">For existing users - Sign on</p>
            <a class="btn-solid-lg page-scroll" href="#intro">REGISTER</a>
            <a class="btn-solid-lg page-scroll" href="#intro">SIGN ON</a>
          </div>
        </div> <!-- end of col -->
      </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of header-content -->
</header> <!-- end of header -->

{% endblock %}
