{% extends 'base.html' %}

{% block head %}
<title>Register</title>
{% endblock %}


{% block body %}

<br>
<!-- Header -->
<header id="header" class="header">
  <div class="header-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-container">
            <h1>Create an account</h1>
            {% from '_formhelpers.html' import render_field %}
            <form autocomplete="off" action="/register" method="POST">
              <dl>
                {{render_field(form.fname)}}
                {{render_field(form.lname)}}
                {{render_field(form.email)}}
                {{render_field(form.username)}}
                {{render_field(form.password)}}
                {{render_field(form.confirm)}}
              </dl>
              <br>
              <p><input type="submit" value="Register"></p>
            </form>
          </div>
        </div> <!-- end of col -->
      </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of header-content -->
</header> <!-- end of header -->

{% if error %}
  <p class="error"><strong>Error:</strong>{{ error }}</p>
{% endif %}

{% endblock %}
