{% extends 'dashboard_base.html' %}
{% block head %}
<title>View and Comment Books</title>
{% endblock %}

{% block body %}
<main>
  <div class="container marketing" style="padding-top:100px">
    <hr class="featurette-divider">
    <!-- Book titles + images + books features -->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> {{ data[1] }}</h2>
        <p class="lead">{{ data[3] }}</p>
        <p> {{ data[2] }}</p>
        <small><a href="{{ data[5] }}" target="_blank">Click here</a> to purchase this book</small>
      </div>
      <div class="col-md-4">
        <img src="/static/images/{{ data[6] }}" alt="Jumping" width="400" height="500" class="rounded mx-auto d-block">
      </div>
    </div>
    <hr>

    <!-- <hr class="featurette-divider"> -->
      {% for comment in comment %}
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <small class="text-muted">Date Posted: {{ comment[1] }}</small><br>
                    <small class="text-muted">By: <i>{{ comment[3] }}</i></small>
                </div>
            </div>
            <div class="row">
                <p class="lead"><small>{{ comment[2] }}</small></p>
            </div>
              {% if username == comment[3] %}
                <a class="btn btn-danger btn-sm" href='/dashboard/delete/{{ comment[0] }}'>Delete</a>
                <a class="btn btn-primary btn-sm" href='#'>Edit</a>
              {% endif %}
        </div>
        <hr>
      {% endfor %}

    <form action="/dashboard/books/{{ data[0] }}" method="POST">
      <div class="form-group">
      <label for="exampleFormControlTextarea1">Comments</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" name="comment" placeholder="Write a comment..." rows="3"></textarea>
      <div class="row justify-content-between pt-3">
          <div class="col-auto"></div>
          <div class="col-auto">
              <input type="submit" class="btn btn-primary" value="Submit">
          </div>
      </div>
    </div>
    </form>
  </div>
</main>

{% endblock %}
