{% extends 'dashboard_base.html' %}
{% block head %}
<title>View and Comment Books</title>
{% endblock %}

{% block body %}
<main>
  <div class="container marketing" style="padding-top:100px">
    <hr class="featurette-divider">
    <!-- Book titles + images + books features -->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> {{ data[1] }}</h2>
        <p class="lead">{{ data[3] }}</p>
        <p> {{ data[2] }}</p>
        <small><a href="{{ data[5] }}" target="_blank">Click here</a> to purchase this book</small>
      </div>
      <div class="col-md-4">
        <img src="/static/images/{{ data[6] }}" alt="Jumping" width="400" height="500" class="rounded mx-auto d-block">
      </div>
    </div>
    <hr>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Comments</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Write a comment..." rows="3"></textarea>
  </div>
  </div>
</main>

{% endblock %}
